<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wolf Beacon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>591C57E81CEE1FDE003C245E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>591C57FF1CEE1FDE003C245E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>591C580A1CEE1FDE003C245E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
